body{
    font-family: 'Public Sans', sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    /* width: 100%; */
}

/* Header*/
.container{
    position: relative;
    z-index: 1;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
}
header .hamburger{
    display: none;
}
#branding{
    padding: 30px 0;
}
header nav{
    padding: 30px 0;
}
header a{
    
    color:gray;
    text-decoration: none;
    /* text-transform: uppercase; */
    font-size: 16px;
}

header a:hover{
    color:hsl(136, 65%, 51%);
}

header ul{
    margin: 0;
    padding: 0;
}

header li{
    display: inline;
    padding: 0 20px 0 20px
}
.button{
    display: flex;
    justify-content: center;
    align-content: center;
    
}
header button{
    align-self: center;
    height: 40px;
    /* width: 30%; */
    padding: 0px 10px;
    color: white;
    background:linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
    border-radius: 20px;
    border: none;
}

/* section 1 */
.nextGen{
    background-color: hsl(0, 0%, 98%);
    box-sizing: border-box;
    background-image: url(./images/bg-intro-desktop.svg);
    background-position: 37rem -18rem;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3rem;
    min-width: 100%;
    overflow: hidden;
}
section .text{
    margin-bottom: 1rem;
    color: hsl(233, 8%, 62%);
    font-size: 1.1rem;
    line-height: 1.5rem;
}

section .heading{
    color: hsl(233, 26%, 24%);
    font-size: 3rem;
    padding-bottom: 3rem;
}
section .heading1{
    color: hsl(233, 26%, 24%);
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 1rem;
}
section .section1{
    width:35rem;
    text-align: left;
    margin-top:auto;
    margin-bottom: auto;
    padding-left: 10%;
    padding-right: 15%;
}

.mobile{
    margin-top: -7rem;
    margin-right: -8.4rem;
    margin-bottom: -12rem
}


.button2 button{
    align-self: center;
    height: 40px;
    padding: 0px 10px;
    color: white;
    background:linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
    border-radius: 20px;
    border: none;
}

/* section 2*/
.whyChoose{
    display: flex;
}

section .section2{
    padding: 8% ;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

/* section 3*/
section .section3{
    display: flex;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 6%;
    align-content: center;
    justify-content: space-around;  
}

/* section 4 article*/

.article-container{
    padding: 2% 5%;
    background-color: hsl(0, 0%, 98%);
}

.article-container h1{
    color: hsl(233, 26%, 24%);
    font-size: 3rem;
    padding-bottom: 3rem;
}

.article-inner-container{
    display: flex;
    justify-content:space-around;
}

.article{
    width: 100%;
    background-color: hsl(0, 0%, 100%);
    margin-right: 1rem;
}
.article-inner-container img{
    width: 100%;
    height: 15rem;
    border-radius: 0.5rem 0.5rem 0 0;
}
.article-text-container{
    padding: 2rem;
}
.article-inner-container p{
    margin-bottom: 1rem;
    color: hsl(233, 8%, 62%);
    font-size: 1.1rem;
    line-height: 1.5rem;
}
.article-inner-container h1{
    padding: 0;
    color: hsl(233, 26%, 24%);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/*Footer */
footer{
    background-color: hsl(233, 26%, 24%);
    padding:3rem 10%;
    color:white;
    justify-content: space-between;
    display: flex;
}
.inverted{
    filter: invert(100%) hue-rotate(83deg) sepia(7%);
}
.left-footer-container{
    flex:1;
    display: flex;
    justify-content: space-between;
}
.footer-option-div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.right-footer-container{
    flex:1;
    text-align: right;
}
.right-footer-container p{
    margin-top: 2rem;
    color:hsl(233, 8%, 62%);
}
.social-media{
    margin-top: 3rem;
}
.social-media-icon{
    padding-right: 0.5rem;
}

.social-media img:hover{
    cursor: pointer;
    filter: invert(62%) sepia(7%) saturate(3599%) hue-rotate(83deg) brightness(101%) contrast(117%);
}
.request{
    align-self: center;
    height: 40px;
    width: 40%;
    padding: 0px 10px;
    color: white;
    background:linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
    border-radius: 20px;
    border: none;
}
.request:hover,.request1:hover{
    opacity: 0.6;
    transition: .3s ease-in;
}
.article-text-container h1:hover{
    color:hsl(136, 65%, 51%);
    cursor: pointer;
    transition: .1s;
}
.footer-option-div p:hover{
    color:hsl(136, 65%, 51%);
    cursor: pointer;
    transition: .1s;
}

.menuOverlay{
    display: none;
}

.menuOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Light black shade */
    display: none;
  }
  
#menuItems {
    position: absolute;
    top: 25%;
    left: 40%;
    transform: translate(-20%, -20%);
    background-color: #fff; /* Menu items background color */
    padding: 10%;
    list-style-type: none;
}

#menuItems a{
    
    color:gray;
    text-decoration: none;
    /* text-transform: uppercase; */
    font-size: 16px;
}

#menuItems a:hover{
    color:hsl(136, 65%, 51%);
}



@media (max-width: 480px)
{
    body{
        text-align: center;
    }
    header .hamburger{
        display: contents;
    }

    header nav{
        display: none;
    }

    header .button{
        display: none;
    }

    .nextGen{
        flex-direction: column;
    }
    .mobile{
        width: 20rem;
        height: 20rem;
        margin: 0;
    }
    .overlay{
        background-image: url(./images/bg-intro-mobile.svg);
        background-position: 1rem -8rem;
        background-repeat: no-repeat;
        background-size: cover;
        order: -1;
    }

    section .section1{
        padding: 0%;
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    section .section3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-self: center; */
    }
    

    .article-inner-container{
        display: flex;
        flex-direction: column;
    }

    footer{
        display: flex;
        flex-direction: column;
    }
    .left-footer-container{
        display: flex;
        flex-direction: column;
    }

    .right-footer-container{
        text-align: center;
    }
}


